@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 5px;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  background-color: #242424;
  color:white;
  font-family: 'Quicksand', sans-serif;
}

.hero_image{
  clip-path: circle(0% at 50% 50%);
} 

.event_container{
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.link{
  @apply active:scale-90 duration-200
}